table{
    margin: auto;
    width: 80%
    
    
}


.foto td img{
align-items: center;
width: 100%;
text-align: center;
border-radius: 100%;
padding: 10px;

}
 th h1{
    font-size: 60px;
    align-items: center;    
    color: red;
    
    
    }
    th p{
        font-size:20px;
        align-items: center;          
        
        }
       
.foto th{ /*foto das logos sociais */  
    width: 80%;
    text-align: center;
    align-items: baseline;
}
.foto td{
    width: 25%;
    border: 1px solid;
    text-align: center;
    background-color: black;

}
 .foto a img{
    width: 10%;
    margin: 0 8%;
    margin-bottom: 10px;
    border-radius: 50%;

   
}
.table1 tr td{
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
}
body .table{
    width: 80%;
   
}
footer {
    width: 70%;
   padding-top: 10px;
   padding-bottom: 10px;
    background-color: blue;
    color: white;
    margin: 0 auto;
   
   

}
tr th{
    background-color:antiquewhite;

   
    
}

@media screen and (max-width:900px) {
  
    
    body .container{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    

    }
    table body .table{        
        width: 100%;
        
    }
    tr th{
        background-color:antiquewhite;
  
        width: 7%;     
        
    }
    footer{
        width: 80%;
        margin: 0 auto;
       
   
      
    
    }th h1{
        font-size:20px;
        align-items: center;    
        color: red;       
        
        }
        th p{
            font-size: 8px;
            align-items: center;          
            
            }
            .foto td{ /*foto do candidato */  
                width: 30%;
                text-align: center;
                align-items: baseline;
                background-color: black;
            }
            .table1 tr td{
                background-color: rgb(128, 128, 128);
                color: white;
                font-size:xx-small;
                text-align: center;
            }
    
}